<!DOCTYPE html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/image/icons8-chat-bubble-purple.ico" rel="icon">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
        <link href="/static/styles/style.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

        <title>FlackyChat</title>

    </head>
    <body>
        <nav class="navbar navbar-light border">
            <a class="navbar-brand" href="/">
                <img src="../static/image/icons8-chat-bubble-purple.png" class="logo" alt="logo">
                    <span class="logo_name">
                        Flacky<strong>Chat</strong>
                    </span>
                </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <button data-toggle="modal" data-target="#nicknameModalCenter" id="display_nickname" class="btn">Register</button>
                </li>
            </ul>
        </nav>
        <main>
            <div id="public_channels" class="public_channels" style="width: 250px; padding: 20px; border=right: 1px solid white;">
                <a id="closebtn" href="javascript:void(0)" class="closebtn" onclick="closeNav()"><i class="fa fa-times" aria-hidden="true"></i></a>
                <div class="heading">
                    <h5>Public Channels</h5>
                    <button id="add_channel" class="plus_channel"><i class="fas fa-plus-square"></i></button>
                </div>
                <div class="form">
                    <form id="add_channel_form">
                        <label for="channel">#</label>
                        <input maxlength="18" class="add_channel_name" autocomplete="off" name="channel" type="text" placeholder="New Channel" maxlength="20">
                    </form>
                </div>
                <div class="channel_list">
                    <ul class="channel_list_ul">
                        {% for room in rooms %}
                            <li class="{{ room }} nav-link" data-page="{{ room }}">#{{ room }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="heading">
                    <h5>Private Messages</h5>
                    <button id="plus_private_msg" class="plus_private_msg"><i class="fas fa-plus-square"></i></button>
                </div>
                <div class="nickname_list">
                    <ul id="nickname_list_ul">
                        <li class="pm_nickname pm_Admin" data-page ="Admin">Admin</li>
                    </ul>
                </div>
            </div>
            
            <div id="chat" class="chat" style="left: 0px;">
                <span id="openbtn" class="openbtn"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></span>
                <div id="messages" class="messages">
                </div>
                <div class="text-area">
                    <form id="the_comment">
                        <a class="attachments"><i class="fas fa-paperclip"></i></a>
                        <input class="type_message" autocomplete="off" type="text" name="message" placeholder="Your message" required>
                        <button type="submit" class="submit_message"><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </main>

          
          <!-- Modal Registration -->
          <div class="modal fade" id="exampleModalCenter" tabindex="100" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <a class="modal-title navbar-brand" id="exampleModalLongTitle" href="#">
                        <img src="../static/image/icons8-chat-bubble-purple.png"  class="logo" alt="logo">
                        <span class="logo_name">
                            Flacky<strong>Chat</strong>
                        </span>
                    </a>
                </div>
                <div class="modal-body">
                    <h5>Welcome to&nbsp;<div class="logo_name">Flacky<strong>Chat</strong></div></h5>
                    <p>Please enter your Nickname to join</p>
                    <div id="error-mesage-registration">Please remove all spaces </div>
                      <input id="join_name" autocomplete="off" type="text" maxlength="20" placeholder="Enter Nickname" value="">
                </div>
                <div class="modal-footer">
                  <button id="join" type="submit" data-dismiss="none" class="btn">Join!</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Change Nickname -->
          <div class="modal fade" id="nicknameModalCenter" tabindex="100" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-top" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <a class="modal-title navbar-brand" id="nicknameModalLongTitle" href="#">
                        <img src="../static/image/icons8-chat-bubble-purple.png"  class="logo" alt="logo">
                        <span class="logo_name">
                            Flacky<strong>Chat</strong>
                        </span>
                    </a>
                </div>
                <div class="modal-body">
                    <h5>Change Your Nickname</h5>
                    <div id="error-mesage-registration2">Please remove all spaces </div>
                      <input id="change_name" autocomplete="off" type="text" maxlength="20" placeholder="Enter Nickname" value="">
                </div>
                <div class="modal-footer">
                  <button id="change" type="submit" data-dismiss="none" class="btn">Change!</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal Private Messages Nickname List -->
          <div class="modal fade" id="PrivateModalCenter" tabindex="100" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-top" role="document">
              <div class="modal-content">
                <div class="modal-header">
                    <a class="modal-title navbar-brand" id="PrivateModalLongTitle" href="#">
                        <img src="../static/image/icons8-chat-bubble-purple.png"  class="logo" alt="logo">
                        <span class="logo_name">
                            Flacky<strong>Chat</strong>
                        </span>
                    </a>
                </div>
                <div class="modal-body">
                    <h5>Start Private Chat</h5>
                    <ul id="ul_nicknames" class="ul_nicknames">
                    </ul>
                </div>
              </div>
            </div>
          </div>

          

    </body>

</html>
