$purple:#5F00E6;
$lpurple: #BB86FC;
$dpurple: #3700B3;
$spacegrey: #4b4b4c;
$header: #222222;
$body: #292929;


/* scroll bar */
::-webkit-scrollbar {
    width: 3px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
      background: $header;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $purple;
  }
  


*
{
    box-sizing: border-box;
}

body
{
    
    margin: 0;
    padding: 0;
    background: $body;
    color: white;
}
.navbar
{
    display: flex;
    justify-self: space-between;
    background: $header;
    border: none !important;
    
}
.btn
{
    background: $purple;
    color: white;
}
.btn:hover
{
    background: $dpurple;
}
.navbar-brand
{
    margin: 0;
    display: flex;
    align-items: flex-end;
}
.logo_name
{
    color: $lpurple;
}
.logo
{
    width: 35px;
    margin-right: 5px;
}
.logo_name:hover
{
    color: $lpurple;
}

main
{
    display: flex;
    height: calc(100vh - 70px);
    .public_channels
    {
        border-right: 1px solid white;
        padding: 10px;
        width: 240px;
        height: calc(100vh - 70px);
        .closebtn
        {
            display: none;
            color: white;
            text-align: right;
        }
        .heading
        {
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
            display: flex;
            justify-content: space-between;
            h5
            {
                margin: 0;
                display: inline-block;
            }
            button
            {
                background: none;
                border:none;
                color: #fff;
                cursor: pointer;
            }
        }
        .form
        {
            margin-top: 5px;
            form
            {
                display: flex;
                label, input
                {
                    background: $spacegrey;
                    margin: 0;
                    padding: 2px 10px;
                    border: none;
                }
            }
        }
        .channel_list
        {
            ul
            {
                padding: 5px;
                margin: 0;
                li
                {
                    list-style: none;
                    cursor: pointer;
                }
                li:hover
                {
                    color:$lpurple
                }
                .active
                {
                    background:$purple;
                }
            }
        }
    }
    .chat
    {
        display: flex;
        height: calc(100vh - 70px);
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 10px;
        width: calc(100% - 240px);
        padding: 10px;

        background: url('../image/bg-purple2.jpeg') no-repeat top center fixed;
        background-size: cover;
        .openbtn
        {
            opacity: 0;
        }
        

        .date
        {
            font-size: 0.70em;
            font-weight: bold;   
        }

        #general
        {
            display: flex;
        }
        .messages
        {
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            .system
            {
                display: flex;
                margin: auto;

            }
            .bubble
            {
                width: fit-content;
                display:block;
                margin-bottom: 10px;
                
                border-radius: 30px;
                padding: 10px 20px 25px;
                .heading
                {
                    display: flex;
                    p
                    {
                        margin: 0;
                    }
                }
                .message
                {
                    p
                    {
                        margin: 0;
                    }
                }
            }
            .message_from
            {
                margin-right: auto;
                background: $spacegrey;
            }
            .message_to
            {
                margin-left: auto;
                background: $purple;
            }
        }
        .text-area
        {
            form
            {
                .attachments, .submit_message
                {
                    background: none;
                    border: none;
                    color: white;
                    outline: none;
                }
                .attachments:hover, .submit_message:hover
                {
                    color: $purple;
                    cursor: pointer;
                }
                input
                {
                    width: calc(100% - 65px);
                    border-radius: 30px;
                    padding: 5px 15px;
                    outline: none;
                }
            }
        }
    }

}
// Modal
#exampleModalCenter
{
    background: url("../image/bg_purple.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.modal-content
{
    box-shadow: none;
    background-color: $header;
}
.modal-header
{
    background: $header;
    border: none;
}
.modal-body
{
    background: $body;
    border: none;
    text-align: center;
    h5
    {
        display: flex;
        width: fit-content;
        margin: auto;
        padding-bottom: 10px;
    }
    input
    {   
        width: 309px;
        border-radius: 30px;
        padding: 5px 15px;
        outline: none;
    }
    #error-mesage-registration,
    #error-mesage-registration2
    {
        display: none;
        border: 1px solid rgb(158, 49, 49);
        font-weight: bold;
        color: rgb(158, 49, 49);
        margin-bottom: 10px;
    }
}
.modal-footer
{
    background: $header;
    border: none;
}

@media only screen and (max-width: 666px) {
    main
    {
        width: 100%;
        .chat
        {
            width: 100%;
            position: fixed;
            transition: .5s;
            .openbtn
            {
                opacity: 1.0;
            }
        }
        .public_channels
        {
            height: 100%; /* 100% Full-height */
            width: 0; /* 0 width - change this with JavaScript */
            top: 0;
            border: 0px;
            padding: 0;
            overflow-x: hidden; /* Disable horizontal scroll */
            transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
            .closebtn
            {
                display: block;
            }
        }
    }
}


