/* scroll bar */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #222222;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  cursor: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/9632/happy.png"), auto;
  margin: 0;
  padding: 0;
  background: #292929;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: space-between;
  background: #222222;
  border: none !important;
}

.btn {
  color: white;
}

.navbar-brand {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.logo {
  width: 35px;
  margin-right: 5px;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 61px);
}

main #public_channels {
  background-color: rgba(41, 41, 41, 0.8);
  border-right: 1px solid white;
  padding: 10px;
  width: 240px;
  height: calc(100vh - 61px);
  background-color: rgba(41, 41, 41, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #public_channels .closebtn {
  display: none;
  color: white;
  text-align: right;
}

main #public_channels .heading {
  padding-bottom: 5px;
  border-bottom: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main #public_channels .heading h5 {
  margin: 0;
  display: inline-block;
}

main #public_channels .heading button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

main #public_channels .form {
  margin-top: 5px;
}

main #public_channels .form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #public_channels .form form label, main #public_channels .form form input {
  color: #ffffff;
  background: #4b4b4c;
  margin: 0;
  padding: 2px 10px;
  border: none;
}

main #public_channels .channel_list ul, main #public_channels .nickname_list ul {
  padding: 5px;
  margin: 0;
}

main #public_channels .channel_list ul li, main #public_channels .nickname_list ul li {
  display: block;
  padding: .5rem 1rem;
  list-style: none;
  cursor: pointer;
}

main #chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100vh - 61px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px;
  width: calc(100% - 240px);
  padding: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

main #chat .openbtn {
  opacity: 0;
}

main #chat .date {
  font-size: 0.70em;
  font-weight: bold;
}

main #chat #general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #chat .messages {
  height: calc(100% - 62px);
  overflow-y: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main #chat .messages .system {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

main #chat .messages .bubble {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  margin-bottom: 10px;
  word-break: break-word;
  max-width: 90%;
  border-radius: 30px;
  padding: 10px 20px 25px;
}

main #chat .messages .bubble .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main #chat .messages .bubble .heading p {
  margin: 0;
}

main #chat .messages .bubble .message p {
  margin: 0;
}

main #chat .messages .message_from {
  margin-right: auto;
  background: #4b4b4c;
}

main #chat .messages .message_to {
  margin-left: auto;
}

main #chat .text-area form .attachments, main #chat .text-area form .submit_message {
  background: none;
  border: none;
  color: white;
  outline: none;
}

main #chat .text-area form .attachments:hover, main #chat .text-area form .submit_message:hover {
  cursor: pointer;
}

main #chat .text-area form input {
  width: calc(100% - 65px);
  border-radius: 30px;
  padding: 5px 15px;
  outline: none;
}

#exampleModalCenter {
  background: url("../image/bg_purple.jpg") no-repeat center center fixed;
  background-size: cover;
}

.modal-content {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #222222;
}

.modal-header {
  background: #222222;
  border: none;
}

.modal-body {
  background: #292929;
  border: none;
  text-align: center;
}

.modal-body h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  padding-bottom: 10px;
}

.modal-body input {
  width: 309px;
  border-radius: 30px;
  padding: 5px 15px;
  outline: none;
}

.modal-body #error-mesage-registration,
.modal-body #error-mesage-registration2 {
  display: none;
  border: 1px solid #9e3131;
  font-weight: bold;
  color: #9e3131;
  margin-bottom: 10px;
}

.ul_nicknames {
  margin: 0;
  padding: 0;
}

.ul_nicknames li {
  list-style: none;
}

.ul_nicknames .list_nickname {
  cursor: pointer;
  padding: 10px 0;
}

.modal-footer {
  background: #222222;
  border: none;
}

.theme-selection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.theme-selection .theme {
  height: 40px;
  width: 40px;
  border: 4px solid #222222;
  margin: 0 10px;
}

.theme-selection #theme_blue {
  background: -webkit-gradient(linear, left top, right bottom, from(#222222), to(#1970AD));
  background: linear-gradient(to bottom right, #222222 0%, #1970AD 100%);
}

.theme-selection #theme_purple {
  background: -webkit-gradient(linear, left top, right bottom, from(#222222), to(#5f00e6));
  background: linear-gradient(to bottom right, #222222 0%, #5f00e6 100%);
}

.theme-selection #theme_green {
  background: -webkit-gradient(linear, left top, right bottom, from(#222222), to(#7D8E64));
  background: linear-gradient(to bottom right, #222222 0%, #7D8E64 100%);
}

@media only screen and (max-width: 666px) {
  main {
    width: 100%;
  }
  main #chat {
    width: 100%;
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  main #chat .openbtn {
    opacity: 1.0;
  }
  main #public_channels {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    top: 0;
    border: 0px;
    padding: 0;
    overflow-x: hidden;
    /* Disable horizontal scroll */
    -webkit-transition: 0.5s;
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
  }
  main #public_channels .closebtn {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */