
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7D8E64;
}

.btn {
  background: #7D8E64;
  color: white;
}

.btn:hover {
  background: #304637;
}

.logo_name {
  color: #D1D17B;
}

.logo_name:hover {
  color: #D1D17B;
}

main {
  background: url("../image/big_bg/big_green.jpg") no-repeat center center fixed;
  background-size: cover;
}


main #public_channels .channel_list ul li:hover, main #public_channels .nickname_list ul li:hover {
  color: #D1D17B;
}

main #public_channels .channel_list ul .active, main #public_channels .nickname_list ul .active {
  background: #7D8E64;
}

main #chat {
  background: url("../image/big_bg/big_green.jpg") no-repeat center center fixed;
  background-size: cover;
}


main #chat .messages .message_to {
  margin-left: auto;
  background: #7D8E64;
}


main #chat .text-area form .attachments:hover, main #chat .text-area form .submit_message:hover {
  color: #7D8E64;
  cursor: pointer;
}


.ul_nicknames .list_nickname:hover {
  background: #7D8E64;
}



.theme-selection #theme_green {
  background: -webkit-gradient(linear, left top, right bottom, from(#222222), to(#7D8E64));
  background: linear-gradient(to bottom right, #222222 0%, #7D8E64 100%);
  border-color: azure;
}


@media only screen and (max-width: 666px) {
  main {
    background: url("../image/mobile/mobile_green.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
  }
  main #chat {
    background: url("../image/mobile/mobile_green.jpg") no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    position: fixed;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}